[all:vars]
ansible_connection=ssh
ansible_user=root

[manager]
%{ for instance in manager ~}
${instance.name} ansible_host=${instance.ipv4_address} private_ip=${instance.ipv4_address_private}
%{ endfor ~}

[worker]
%{ for instance in worker ~}
${instance.name} ansible_host=${instance.ipv4_address_private}
%{ endfor ~}

[worker:vars]
ansible_ssh_common_args='-o ProxyCommand="ssh -i id_rsa -W %h:%p -q root@${manager[0].ipv4_address}"'